.h1{
    color: hsla(149, 16%, 82%, 1);
    text-align: center;
    background-color:hsla(16, 80%, 95%, 1);
    border-radius: 20px;
}
.h2{
    color: hsla(164, 100%, 61%, 1);
    padding: 5px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border: solid whitesmoke;
    background-color:hsla(148, 10%, 56%, 1);
    border-radius: 20px;

}
.info{
    color:  hsla(106, 7%, 94%, 1);
    font-size: 23px;

}